body {
	background: url("cloudy-day.png");
}

* {
  box-sizing: border-box;
}

/* general */

.container {
	margin-left: 50px;
}

p {
  padding: 10px;
  font-size: 18px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  font-size: 30px;
  line-height: 49px;
}

h2,
h3 {
  font-size: 22px;
}

/* nav */

.navbar {
	height: 75px;
}

@keyframes example {
    0%   {background-color: #4aaaa6; left: 0px; top: 0px;}
    25%  {background-color: yellow; left:200px; top: 0px;}
    50%  {background-color: blue; left: -100px; top: 0px;}
    100% {background-color: green; left: 0px; top: 0px;}
}

.navbar-header {
	background-color: #4aaaa6;
	position: relative;
	top:0;
	width: 200px;
	height: 75px;
	margin-left: 100px;
	animation-name: example;
    animation-duration: 8s;
}

#brand {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 23px;
	color: #ffffff;
	margin: 10px 0 0 10px;
}

.page-header {
	color: #4aaaa6;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.navbar-right a {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	border-left: 1px solid #efefef;
	margin: 10px;
}

/* Index */

.img-thumbnail {
	width: 30%;
	float: left;
	margin-right: 10px;
}

.col-md-8 {
	background-color: #ffffff;
	margin-top: 20px;
	width: 60%;
	margin-left: 50px;
}

.col-md-4 {
	background-color: #ffffff;
	margin-top: 20px;
	margin-left: 20px;
}

img {
	width: 100px;
	padding: 10px;
}

/* Portfolio */

.work {
  position: relative;
  float: left;
  width: 300px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 1;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 93%;
  left: 10px;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

/* Contact */

#contact-form ul {
  list-style-type: none;
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 90%;
  font-size: 18px;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
  margin-bottom: 10px;
  margin-left: 40px;
}

/* footer */

.footer {
	padding: 30px 0;
	background-color: #666;
	border-top: 8px solid #4aaaa5;
	font-size: 16px;
	text-align: center;
}

/* Media Query */

@media screen and (max-width: 980px) {
	.col-md-8 {
		margin: 0;
		width: 500px;
		float: left;
	}
	.col-md-4 {
		width: 240px;
		float: right;
		margin: 0;
		margin-left: 10px;
	}
}

@media screen and (max-width: 768px) {
	.col-md-8 {
		width: 90%;
		margin-bottom: 20px;
	}
	.col-md-4 {
		width: 90%;
		float:left;
		margin: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 640px) {
	.navbar {
		position: static;
	}
	.navbar-header {
		width: 100%;
		margin: 0;
		animation-play-state: paused;
	}
	#brand {
		margin-left: 250px;
	}
	.navbar-right a {
		background-color: #ffffff;
		margin: 0;
	}
	.img-thumbnail {
		width: 500px;
		height: 600px;
	}

}